body {
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto Mono', 'Merriweather', 'Roboto', 'Helvetica Now Display',
     Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",  'Times New Roman', Times, serif, ;
    background-color: #ffffff;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    max-width: 720px;
    margin: auto;
    padding: 2em;
    
}

.heading{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

.subheading {
    font-size: 1.4em;
    font-weight: 400;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.two-columntoc {
  display: flex;
  justify-content:space-between;
  gap: 1em;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Roboto Mono';
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom: 0;
  /* border-bottom:1px solid rgb(165, 165, 165); */
  font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 600px) {
  .two-column {
    flex-direction: column;
  }
  .photo {
    width: 100%;
    object-fit: cover;
  }
}

hr{
    background-color: white;
    margin-top: 0;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
   
}


.links1 {
    display: flex;
    gap: 1.5em;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.links2 {
    display: flex;
    gap: 1em;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.stickybar {
    max-width: 720px;
    z-index: 3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* link text behavior */

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 2px;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.project-container {
    margin-bottom: 1.6em;
    font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.project-title {
    margin-bottom: 0;
    font-family: 'Merriweather';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



.project-description {
    margin: 0;
    font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   
}


.project-tools {
    margin-top: 2px;
    font-weight: 350;
    font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}



.project-date {
    margin: 0;
    margin-left: 4px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto Mono';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}



.section-title {
    margin-bottom: 0;
    margin-top: 50px;
    font-family: 'Merriweather';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bottom-text {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Roboto Mono';
    color: rgb(0, 0, 0);
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* animation for typing letters */
.type {
    border-right: solid 3px rgba(2, 2, 2, 0);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0 auto;
}

/* Animation */
.type {
    animation: animated-text 3s steps(22, end) 1s 1 normal both, animated-cursor 800ms steps(22, end) 1s infinite;
}

/* text animation */
@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 210px;
    }
}

/* cursor animations */
@keyframes animated-cursor {
    from {
        border-right-color: rgb(0, 0, 0);
    }
    to {
        border-right-color: transparent;
    }
}


/**
 * Display lists on a single line.
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
 .list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.list-inline > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}

/* @media screen and (max-width: 481px){


    write your CSS-Code here
  
  
  } */