body {
    color: rgb(0, 0, 0);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Now Display',
     Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",  'Times New Roman', Times, serif, ;
    background-color: #ffffff;
}

@font-face { font-family: 'Roboto Mono'; src: url('RobotoMono-Regular.OTF'); } 
@font-face { font-family: 'Adobe Caslon Pro'; src: url('ACaslonPro-Regular.OTF'); } 

#nametitle {
    max-width: 720px;
    margin: auto;
    padding: 2em;
}

#container {
    max-width: 720px;
    margin: auto;
    padding: 2em;
}


/* .two-column {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .two-column {
    flex-direction: column;
  }
  .photo {
    width: 100%;
    object-fit: cover;
  }
} */

.tableofcontents {
    text-align: center;
    align-items: center;
    display: block;
    justify-content: center;
    font-family: 'Roboto Mono';
    margin-bottom: 50px;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* link text behavior */

a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}

.subheading {
    font-size: 1.4em;
    font-weight: 400;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.links {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.photo {
    border-radius: 2px;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-container {
    margin-bottom: 1.6em;
    /* animation for page fade in */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-title {
    margin-bottom: 0;
    font-family: 'Adobe Caslon Pro';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-description {
    margin: 0;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-tools {
    margin-top: 2px;
    font-weight: 350;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.project-date {
    margin: 0;
    margin-left: 4px;
    font-weight: 400;
    font-size: 16px;
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.section-title {
    margin-bottom: 0;
    margin-top: 50px;
    font-family: 'Adobe Caslon Pro';
    /* animation for page fade in */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* animation for typing letters */

.type {
    border-right: solid 3px rgba(2, 2, 2, 0);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0 auto;
}


/* Animation */

.type {
    animation: animated-text 3s steps(22, end) 1s 1 normal both, animated-cursor 800ms steps(22, end) 1s infinite;
}


/* text animation */

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 210px;
    }
}


/* cursor animations */

@keyframes animated-cursor {
    from {
        border-right-color: rgb(0, 0, 0);
    }
    to {
        border-right-color: transparent;
    }
}